* {box-sizing: border-box;}

.col-sm-2{
	border-right: 2px solid #DADADA;
}


.img1 {
	position: absolute;

margin-left: 17px;
margin-top: 45px;
}

.bussiness{
font-family: SF Pro Display;
line-height: normal;
font-size: 16px;
margin-left: 79px;
margin-top: 45px;
color: #282121;
}

.sidebar p{
	font-family: SF Pro Display;
line-height: normal;
font-size: 10px;
text-transform: uppercase;
margin-left: 38px;
margin-top: 110px;
color: rgba(0, 0, 0, 0.58);

}


.sidebar a{
	display: block;
	color: #C4C4C4;
	padding-left: 14px;
	padding-top: 12px;
	font-size: 14px;
	font-family: SF Pro Display;
	border-radius: 0px;
	text-align: center;
}

.sidebar a:hover{
	background: #072C5E;
border-radius: 0px;

}

.sidebar a.active{
	background: #072C5E;
border-radius: 0px;
color: #FFFFFF;
}

.sidebar img{
	float:left;
}
.sidebar2 img{
	float:left;
	
}
.sidebar2 p{
	font-family: SF Pro Display;
line-height: normal;
font-size: 10px;
text-transform: uppercase;
margin-left: 39px;
margin-top: 58px;
color: rgba(0, 0, 0, 0.58);
}

.sidebar2 a{
	display: block;
	color: #C4C4C4;
	padding-left: 14px;
	padding-top: 12px;
	font-size: 14px;
	font-family: SF Pro Display;
	border-radius: 0px;
	text-align: center;
	margin-bottom: 192px;
}

.sidebar2 a:hover{
	background: #072C5E;
border-radius: 0px;

}

.footer p{
	margin-top: 227px;
	font-family: SF Pro Display;
line-height: normal;
font-size: 10px;
text-transform: uppercase;

color: rgba(0, 0, 0, 0.58);
text-align:left;
margin-top:0px;
}

.footer img{
	float: left;
	margin-right: 8px;
}

.footer{
	border-top: 4px solid rgba(0, 0, 0, 0.07);
}

.header p{
	font-family: SF Pro Display;
line-height: normal;
font-size: 21px;

color: #282121;
margin-top: 38px;
margin-left: 28px;
display:inline-block;
}

.wrap{
	float:right;
	background: #FFFFFF;
border: 1px solid #B6B6B6;
box-sizing: border-box;
border-radius: 8px;
margin-right: 30px;
margin-top: 33px;
width: 40%;
}
.icon{
	padding: 9px;
}
.searchBox{
	border:0px;
	width:90%;
}

::placeholder{
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
line-height: normal;
font-size: 15px;

color: rgba(0, 0, 0, 0.58);
}
.header{
	border-bottom: 2px solid #DADADA;
}
.elements div{
	display:inline-block;
}
.elmnt1{
	position:absolute;
background: #FDFDFD;
border: 1px solid rgba(0, 0, 0, 0.12);
border-radius: 5px;
width:205px;
left:37px;
top:36px;	

}

.elmnt1 h4{
	padding-left:34px;
	padding-right:34px;
	padding-top:8px;
}
.elmnt1 p{
	font-family: SF Pro Display;
line-height: normal;
font-size: 13px;

color: #000000;

mix-blend-mode: normal;
opacity: 0.34;
padding-left:34px;

}

.element1 {
	position:relative;
	margin-left:73px;
	margin-top:78px;
}

.elmnt2{
		position:absolute;
background: #FDFDFD;
border: 1px solid rgba(0, 0, 0, 0.12);
border-radius: 5px;
width:205px;
left:37px;
top:36px;	

}

.elmnt2 h4{
	padding-left:34px;
	padding-top:8px;
}
.elmnt2 p{
	font-family: SF Pro Display;
line-height: normal;
font-size: 13px;

color: #000000;

mix-blend-mode: normal;
opacity: 0.34;
padding-left:34px;
}

.element2 {
	
	position:relative;
	margin-left:200px;
	margin-top:78px;
}

.elmnt3{
		position:absolute;
background: #FDFDFD;
border: 1px solid rgba(0, 0, 0, 0.12);
border-radius: 5px;
width:205px;
left:37px;
top:36px;	

}

.elmnt3 h4{
	padding-left:34px;
	padding-top:8px;
}
.elmnt3 p{
	font-family: SF Pro Display;
line-height: normal;
font-size: 13px;

color: #000000;

mix-blend-mode: normal;
opacity: 0.34;
padding-left:34px;
}

.element3 {
	
	position:relative;
	margin-left:200px;
	margin-top:78px;
}

 @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
	  .col-sm-2{
		  width: 100%;
	  }
	  .col-sm-10{
		  width:100%;
	  }
 }
 
 @media only screen
and (min-width : 1224px) {
	  .sidenav {
        height: auto;
        padding: 15px;
      }
	  .col-sm-2{
		  width: 100%;
	  }
	  .col-sm-10{
		  width:100%;
	  }
}